

.image{
    border-radius: 20px;
box-shadow: 10px 10px 5px 1px;

}
.hover :hover{
background-color: #aa08d7;
color: black;
cursor: pointer;
}
p{
    color: wheat;
}
/* main>div>h3 :hover{
background-color: #aa08d7;
color: black;
cursor: pointer;
} */


/* phone */
@media (max-width:667px){
    body{
background-color: #520075;
}
h4{
    display: inline-block;
}
image{
    width: 200px;
    height: 200px;
    border-radius: 20px;

}

.pes{
    width: 225px;
    height: 225px;
        border-radius: 20px;

}
.fort{
    width: 225px;
    height: 225px;
            border-radius: 20px;

}
.title{
    /* width: 50%; */
    /* text-align: center; */
    color: white;
    margin-bottom:60px ;
    padding: 10px;
    display: flex;
    justify-self: center;
    border-radius: 20px;
    /* background: #b3adad;
    background: linear-gradient(
      90deg,
      rgb(21, 21, 21) 0%,
      rgb(105, 104, 104) 25%,
      rgb(129, 128, 128) 40%,
      rgba(255, 255, 255, 1) 50%,
      rgb(21, 21, 21) 60%,
      rgb(105, 104, 104) 75%,
      rgb(129, 128, 128) 100%

    );
    background-clip: text;
    -webkit-text-fill-color: transparent; */
   
}
.aligne{
    text-align: center;
}
.hover :hover{
background-color: #aa08d7;
cursor: pointer;

}

}


/* tablet */
@media (min-width:668px) and (max-width:800px){
    body{
background-color: #520075;
}

#aside-free{
    position: relative;
    bottom: 60px;
}

.pes{
    width: 225px;
    height: 225px;
    position: relative;
            border-radius: 20px;

    /* top: 0px; */
}
.fort{
    width: 225px;
    height: 220px;
            border-radius: 20px;


}
.aligne{
    display: flex;
    justify-content: space-between;
    padding: 0px 30px 0px 10px;
    gap: 90px;
        text-align: center;

}

.reverse{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}
.aside{
    display: block;
    position: relative;
    bottom: 30px;
    right: 5px;

}
h4{
    display: inline-block;
    position: relative;
    right: 90px;
}
.image{
    width: 200px;
    height: 200px;
}
#img-free{
    position: relative;
    bottom: 40px;
}

.title{
    /* width: 50%; */
    /* text-align: center; */
    color: white;
    margin-bottom:60px ;

    display: flex;
    justify-self: center;
   
}


}

/* pc */
@media (min-width:800px){
    body{
background-color: #520075;

}

.pes{
    width: 225px;
    height: 225px;
            border-radius: 20px;

}
.fort{
    width: 225px;
    height: 225px;
            border-radius: 20px;

}
.aligne{
    display: flex;
    justify-content: space-around;
}
.reverse{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}
.title{
    /* width: 50%; */
    /* text-align: center; */
    color: white;
    margin-bottom:60px ;
    display: flex;
    justify-self: center;
   
}
.aligne{
    align-content:space-between ;
    text-align: center;
    gap: 20px;
    padding:0px 0px 70px ;
}
h4{ display: inline-block;
    position: relative;
    right: 200px;
}


}





