<<<<<<< HEAD
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    padding: 50px;
    justify-content: space-between;
    z-index: 1;
}
nav ul{
    display:flex;
    list-style: none;
    gap:1em ;
    font-size: 2em;
    color:white;
}

.logo{
    width: 150px;
}

.hero{
    top:0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background: #210736;
    background: linear-gradient(0deg, #210736 0%, #5F149C 100%);
    z-index: -1;
    padding-top: 100px;
    margin-top: -160px;
    justify-content: center;
}

.hero-img{
    display: flex;
    justify-content: center;
}

.hero-img img{
    width: 70%;    
}

.hero-headline{
    width: 50%;
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    align-items: center;
}

.hero-headline h1{
    font-size: 4em;
    color:white;
}

.hero-headline p{
    font-size: 3em;
    color:white;
}

.cta-btn {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    color: #fff;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 700;
}

footer{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
        "logo-dis newsletter newsletter"
        "logo-dis navigation contact-us";
    background-color: rgb(0, 0, 0);
    color: #fff;
}

.newsletter {
    border-radius: 15px;
    padding: 3rem;
    text-align: center;
}

.newsletter-form {
    display: flex;
    gap: 1rem;
    max-width: 600px;
    margin:auto;
    flex-wrap: wrap;
    justify-content: center;
}

.newsletter-input {
    flex-grow: 1;
    min-width: 250px;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    background: rgb(255, 255, 255);
    color: #ffffff;
    font-size: 1rem;
}

.section-title {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 2rem;
    text-align: center;
}

.logo-dis{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    height: 100%;
}

.logo-dis p{
    font-size: 2rem;
    width:75%;
    text-align: center;
}
.container-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-footer h2{
    grid-area: title;
    font-size: 4rem;
}

.container-footer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    flex-wrap: wrap;
    max-height: 300px;
    padding: 20px;
}

.container-footer li{
    margin: 0 90px;
    font-size: 2rem;
}



/* main */

h2{
    font-size: 60px;
    text-align: center;
}

.section-lastGames{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.contaner-lastGames h3{
    font-size:50px;
}
.contaner-lastGames{
    display: flex;
    flex-wrap: wrap;
    gap:25px;
    justify-content: center;
}

.most-popular{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr;
    max-height: 50%;
    justify-items: center;
}
.most-popular > div , .last-games> div{
    display: flex;
    flex-direction: column;
    margin: 0 25px;
}
.most-popular > div > span, .last-games > div > span{
    font-size: 50px;
    text-align: center;
}
.most-popular> h3{
    grid-column-start: 1 ;
    grid-column-end: 3;
}
.last-games{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-bestPlaters{
    margin:50px 0px;
}

.section-bestPlaters > div > div > span{
    font-size: 50px;
    text-align: center;
}

.section-bestPlaters > div{
    display: flex;
    gap:25px;
    justify-content: center;
    flex-wrap: wrap;
}

.section-bestPlaters > div > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #999999;
    padding: 40px;
    border-radius: 25px;
}
.section-bestPlaters > div > div > div{
    display: flex;
    align-items: center;
    font-size: 25px;
}
.section-bestPlaters > div > div > div img{
    border-radius: 50px;
}


.section-reviwes{
    margin:50px 0;
}

.section-reviwes > div > div > span{
    font-size: 50px;
    text-align: center;
}

.section-reviwes > div{
    display: flex;
    gap:25px;
    justify-content: center;
    flex-wrap: wrap;
}

.section-reviwes > div > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #999999;
    padding: 40px;
    border-radius: 25px;
}
.section-reviwes > div > div > div{
    display: flex;
    align-items: center;
    font-size: 25px;
}
.section-reviwes > div > div > div img{
    width: 300px;
}
=======

.mybtn{
    background-color: rgb(216, 124, 253);
}
.bttn{
    display: flex;
    justify-content: space-evenly;
}
.btnn{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    border-radius: 25px;
    }
    .btt{
        background-color: rgb(216, 124, 253);
    }
@media (max-width: 600px) {
    body {
        background-color: #491463;
    }


    .box {
        position: relative;
    }

    .titre-principal {
        color: white;
        height: 20%;
        width: 100%;
        font-family: Italianno;
        font-style: italic;
        font-size: x-large;
        font-weight: 400;
        text-shadow: rgb(103, 4, 189) 3px 2px 1px 5px;
        justify-content: center;
        display: flex;
    }

    .titre-secondaire {
        color: aliceblue;
        font-family: Italianno;
        font-style: italic;
        font-size: x-large;
        font-weight: 400;
    }

    .formul {

        justify-content: center;
        align-items: center;
        width: 150px;
        margin: 5px;
        border: #33054b solid;
    }

    .label-and-input {
        display: flex;
        flex-direction: column;
        margin: 20px;
        padding: 10px;
        border: #33054b solid;

    }

    .form {
        margin-right: 100px;
        gap: 2px;
        width: 80px;
    }

    .label-and-input {
        margin-right: 10 px;
    }

    h2 {
        text-align: center;
    }

    .imageee {
        display: flex;
        justify-content: center;
        margin-bottom: 60px;
    }

    .imagee {
        width: 210px;
        height: 200px;
    }

    .btnn {
        display: flex;
        justify-content: space-evenly;
        padding: 15px;

    }

    label {
        margin-right: 10px;
    }

    .img1 {
        width: 100px;
        height: 150px;
        display: flex;
    }

    .mini-box {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .box-box {
        text-align: center;

    }


    .img-2 {
        left: 150px;
        top: 1px;
        width: 120px;
        height: 100px;

    }

    .img-1 {
        width: 120px;
        height: 100px;
    }

    .img-3 {
        width: 120px;
        height: 100px;
    }

    .img-4 {

        width: 120px;
        height: 100px;
    }

    .img-5 {

        width: 120px;
        height: 100px;
    }

    .img-6 {
        width: 120px;
        height: 100px;
    }

    .imgg {

        display: flex;
        flex-direction: row;
        gap: 80px;
    }

    .imgg img {
        width: 100px;
        height: 90px;
    }

    .bt-1 {
        background-color: rgb(140, 21, 200);
        border-radius: 50%;
        justify-content: center;
    }

    .login {
        color: #33054b;
        text-decoration: double;
        text-align: center;
        position: absolute;
        left: 200px;
        padding: 3px;
        border-radius: 50%;
        background-color: #8e5ca9;
    }

    sign-in .formulaire {
        gap: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .titre-secondaire2 {
        color: aliceblue;
        height: 10%;
        width: 100%;
        font-family: Italianno;
        font-style: italic;
        font-size: x-large;
        font-weight: 400;
        text-shadow: rgb(103, 4, 189) 3px 2px 1px 5px;
        justify-content: center;
        display: flex;

    }

    .form2 {
        width: fit-content;
    }

    .label-and-input2 {
        width: fit-content;
    }

    .FORR {
        justify-content: center;
        align-items: center;
        width: 200px;
        margin: 5px;
        margin-bottom: 50px;
    }

    /* section{
    gap: 20px;
    
} */
    #img-2-1 img {

        width: 200px;
        height: 150px;
        justify-content: center;
    }

    .titre-secondaire3 {
        color: aliceblue;
        height: 10%;
        width: 100%;
        font-family: Italianno;
        font-style: italic;
        font-size: x-large;
        font-weight: 400;
        text-shadow: 10px 2px #503e69;
        justify-content: center;
        display: flex;
        margin-bottom: 50px;
    }

    .btn-1 {
        position: absolute;
        left: 140px;

    }

    /* la position du deux buttom dans le meme temps */
    .btn {
        display: flex;
        justify-content: center;
        gap: 20px;

    }

    section {
        gap: 200px;
    }

}

@media (min-width: 601px) {
    body {
        background-color: #491463;
    }

    .titre-secondaire2 {
        text-align: center;
        color: aliceblue;
    }

    .mini-box {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;

    }

    .titre-secondaire3 {
        color: aliceblue;
        height: 10%;
        width: 100%;
        font-family: Italianno;
        font-style: italic;
        font-size: x-large;
        font-weight: 400;
        text-shadow: 10px 2px #503e69;
        justify-content: center;
        display: flex;
        margin-bottom: 50px;

    }

    .box-box,
    .box-box div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 24px;
        flex-wrap: wrap;

    }


    .imagee {
        width: 200px;
    }

    .imageee {
        display: flex;
        justify-content: center;
        margin-bottom: 50px;

    }

    .btn {
        display: flex;
        justify-content: center;
        gap: 20px;

    }

    .titre-principal {
        color: white;
        height: 20%;
        width: 100%;
        font-family: Italianno;
        font-style: italic;
        font-size: x-large;
        font-weight: 400;
        text-shadow: rgb(103, 4, 189) 3px 2px 1px 5px;
        justify-content: center;
        display: flex;
    }

    .mini-box {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .formulaire {
        gap: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .formul {
        text-align: center;
        margin: 5px;

        /* border: #33054b solid; */
    }

    .label-and-input {
        margin-right: 10 px;
    }

    .label-and-input {
        display: flex;
        flex-direction: column;
        width: 500px;
        margin: 20px;
        padding: 10px;
        border: #33054b solid;
    }

    .titre-secondaire {
        color: aliceblue;
        font-family: Italianno;
        font-style: italic;
        font-size: x-large;
        font-weight: 400;
        text-align: center;
    }
}
::placeholder{
    color: rgb(81, 3, 51);

}
>>>>>>> login
